*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #fff url('../images/triangle.svg');
    background-size: 200vw;
    /*background-color: rgba(211, 211, 211, 0.3);*/
    background-blend-mode: darken;

    font: 2.3vw Coda;
}


h1 {
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 2px 2px #000000;
    color: #E67833;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.fas .far {
    display: inline-block;
    font: normal normal normal 16px/1 font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    vertical-align: -webkit-baseline-middle;
}


/*score panel*/

.score-panel {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 60%;
    margin-bottom: 0px;
    font-size: 2.10vw;
}

.score-panel .collisions {
    margin: 0 0 2vw auto;
    font-size: 2.30vw;
}

.score-panel .wins {
    margin: 0 0 2vw auto;
    font-size: 2.30vw;
}


.score-panel .restart {
    margin: 0 0 2vw auto;
    cursor: pointer;
}


.mix-form {
    margin: 0 0 2vw auto;
    font-size: 2.30vw;
}